{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "arrowParens": "always",
        "parser": "typescript",
        "proseWrap": "always",
        "singleQuote": true
      }
    }
  ]
}
