<p id="testError"></p>
<form
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
>
  <div class="app-form__control">
    <label for="email">
      E-mail:
    </label>

    <input
      class="app-input"
      type="text"
      id="email"
      formControlName="email"
      required
    >
  </div>

  <div class="app-form__control">
    <label for="password">
      Пароль:
    </label>

    <input
      class="app-input"
      type="text"
      id="password"
      formControlName="password"
      required
    >
  </div>

  <button
    type="submit"
    [disabled]="!profileForm.valid"
  >Войти</button>
</form>