{
  "overrides": [
    {
      "files": [
        "*.tsx",
        "*.ts"
      ],
      "options": {
        "arrowParens": "always",
        "parser": "typescript",
        "proseWrap": "always",
        "singleQuote": true
      }
    }
  ]
}