.kit-top-menu {
  background-color: #fff;
  height: 40px;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}

.kit-top-menu__container {
  display: flex;
  -webkit-align-items: center;
  /* Safari */
  align-items: center;
  height: inherit;
}

.kit-top-menu__item {
  margin-left: 10px;
}